# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build directories
build/
dist/

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# React-specific
coverage/

